<div class="clearfix colelem" id="pwhat-we-do"><!-- group -->
  <a class="anchor_item grpelem shared_content" id="what-we-do" data-content-guid="what-we-do_content"></a>
  <div class="effect clearfix grpelem shared_content" id="u113240-10" data-content-guid="u113240-10_content"><!-- content -->
    <p>Neightiv Real Estate Solutions is an independent real estate platform comprised of Neightiv Core Solutions, Neightiv Brokerage Solutions, and Neightiv Investment Solutions.</p>
    <p>&nbsp;</p>
    <p>Built to suit, Our Platform is designed to foster hyperlocal development through the identification of optimal properties and network partnerships, all while keeping you informed of the latest market, demographic, and financial shifts.</p>
    <p>&nbsp;</p>
    <p>A streamlined experience that maximizes your return on investment with ease</p>
  </div>
  <div class="effect clearfix grpelem shared_content" id="u113241-4" data-content-guid="u113241-4_content"><!-- content -->
    <p id="u113241-2">WHAT WE DO</p>
  </div>
  <div class="clearfix grpelem shared_content" id="u118596" data-content-guid="u118596_content"><!-- group -->
    <div class="rounded-corners grpelem shared_content" id="u113244" data-content-guid="u113244_content"><!-- simple frame --></div>
    <div class="rounded-corners grpelem" id="u113245"><!-- simple frame --></div>
    <div class="rounded-corners grpelem" id="u113246"><!-- simple frame --></div>
    <div class="rounded-corners grpelem" id="u113247"><!-- simple frame --></div>
    <div class="rounded-corners grpelem shared_content" id="u113243" data-content-guid="u113243_content"><!-- simple frame --></div>
  </div>
  <div class="clearfix grpelem shared_content" id="u113339" data-content-guid="u113339_content"><!-- group -->
    <div class="effect clearfix grpelem shared_content" id="u113376-4" data-content-guid="u113376-4_content"><!-- content -->
      <p>Neightiv Core Solutions</p>
    </div>
  </div>
  <div class="clearfix grpelem shared_content" id="u113346" data-content-guid="u113346_content"><!-- group -->
    <div class="effect clearfix grpelem shared_content" id="u113406-4" data-content-guid="u113406-4_content"><!-- content -->
      <p>Neightiv Brokerage Solutions</p>
    </div>
  </div>
  <div class="clearfix grpelem shared_content" id="u113361" data-content-guid="u113361_content"><!-- group -->
    <div class="effect clearfix grpelem shared_content" id="u113421-4" data-content-guid="u113421-4_content"><!-- content -->
      <p>Neightiv Investment Solutions</p>
    </div>
  </div>
</div>
